{% extends "base_login.html" %}


{% block content %}

<div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">

              <h1>Login Form</h1>
               {% include "accounts/form.html" with form=form %}
              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">New to site?
                  <a href="/accounts/register/" class="to_register"> Create Account </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>

                  <p>©2016 All Rights Reserved.UI/UX Authoring Tool</p>
                </div>
              </div>

          </section>
        </div>


      </div>

{% endblock %}