
{% extends "base_login.html" %}

{% block content %}

</div>

<div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">

              <h1>Create Account</h1>
               {% include "accounts/form.html" with form=form %}

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="/accounts/login/" class="to_register"> Log in </a>
                </p>
                <div class="clearfix"></div>
                <br />

                <div>
                  <p>©2016 All Rights Reserved.UI/UX Authoring Tool</p>
                </div>
              </div>

          </section>
        </div>

{% endblock %}